body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #1f1f1f;
  color: white;
}

.weather-card {
  background-color: #2a2a2a;
  border-radius: 30px;
  padding: 40px 30px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  width: 260px;
  position: relative;
}

.location {
  font-weight: 600;
  margin-bottom: 5px;
}

.description {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 20px;
}

.temp {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.weather-icon {
  width: 60px;
  height: 60px;
  margin: 10px auto 30px;
}

.refresh-btn {
  background-color: #333;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.refresh-btn:hover {
  transform: rotate(90deg);
}
.input-group input {
  border-radius: 10px 0 0 10px;
}
.input-group .btn {
  border-radius: 0 10px 10px 0;
}
